<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des tableaux</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    </head>
    <body>
        <h1>Les tableaux</h1>
        <!--/* On appelle l'URL 'add' du contôleur */-->
        <a th:href="@{add}" href='formulaireTableau.html'>Ajouter un tableau</a>
        <!--/* On affiche un éventuel message d'erreur */-->
        <h3 th:text="${message}">Message de succès ou d'erreur</h3>
        <table border='1'>
            <thead>
                <tr>
                <th>Titre</th>
                <th>Support</th>
                <th>Dimension</th>
                <th>Auteur</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t: ${tableaux}">
                <td th:text="${t.titre}">Titre du tableau</td>
                <td th:text="${t.support}">Support du tableau</td>
                <td th:text="${t.dimension}">Dimension du tableau</td>
                <td> 
                    <span th:if="${t.auteur == null}"> Pas d'auteur </span>
                    <span th:unless="${t.auteur == null}"th:text="${t.auteur.nom}"> </span>
                </td>
                <td><a th:href="@{delete(id=${t.id})}">Supprimer le tableau n° [[${t.id}]]</a></td>
                </tr>  
            </tbody>
        </table>
        <hr>
            <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
    </body>
</html>
